{% extends "DTLTravelBundle::layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dtltravel/js/OpenLayers.js') }}"></script>
    <script defer="defer" type="text/javascript">
        var map, layer;

        function init(){
            OpenLayers.ProxyHost="/proxy/?url=";
            map = new OpenLayers.Map('map');
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
                "http://vmap0.tiles.osgeo.org/wms/vmap0", {
                    layers: 'basic,clabel,ctylabel,statelabel'
                } 
            );
                
            map.addLayer(layer);
            map.setCenter(new OpenLayers.LonLat(0, 40), 4);

            var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);

            var size = new OpenLayers.Size(20,20);
            var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
            {% for media in medias %}
                var icon = new OpenLayers.Icon('{% path media, 'small' %}', size,offset);
                var marker = new OpenLayers.Marker(new OpenLayers.LonLat(-{{ media.longitude }},{{ media.latitude }}), icon);
                marker.events.register('mouseover', marker, function (evt) {
                    var el = evt.toElement;
                    $(el).unbind();
                    var photo = $('<div class="img-polaroid" style="position: relative; margin-top: -100px; margin-left: 30px; width: 400px; "><b>Date: </b>{{ media.timestamp.format('Y-m-d h:i:s') }}<br/><b>Altitude: </b>{{ media.altitude }}m<br/><b>GPS: </b>{{ media.longitude }}, {{ media.latitude }}<br/><img src="{% path media, 'big' %}"/></div>');
                    $(el).bind('mouseout', function () { photo.remove() });
                    $(evt.toElement).after(photo);
                });

                marker.events.register('click', marker, function (evt) {
                    window.location = '{{ path(media.chronoDate) }}';
                });
                markers.addMarker(marker);
            {% endfor %}


            map.addControl(new OpenLayers.Control.LayerSwitcher());
//            var halfIcon = icon.clone();
//            markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(0,45),halfIcon));
//
//            marker = new OpenLayers.Marker(new OpenLayers.LonLat(90,10),icon.clone());
//            marker.setOpacity(0.2);
//            marker.events.register('mousedown', marker, function(evt) { alert(this.icon.url); OpenLayers.Event.stop(evt); });
//            markers.addMarker(marker); 
        }
    
        $(document).ready(function () {
            init();
        });
    </script>
{% endblock javascripts %}
{% block content %}
<h2>Map</h2>
    {{ sonata_block_render({'name': '/cms/content/map/description'}) }}
    <div class="row">
        <div class="span12" style="height: 600px">
            <div id="map" style="width: 100%; height: 100%"></div>
        </div>
    </div>
{% endblock %}
