<!DOCTYPE html>
<html>
    <head>
        {% block styleshees %}
            <link href="{{ asset('bundles/dtltravel/css/bootstrap-combined.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/dtltravel/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/dtltravel/css/openlayers.css') }}" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/dtltravel/js/jquery-1.9.1.min.js') }}"></script>
        {% endblock %}
        <title>My Blog</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="header" class="span12">
                    <h1>Dans Travel Blog #3</h1>
                </div>
            </div>
            <div class="row">
                <div class="span12 navbar">
                    <div class="navbar-inner">
                        {{ knp_menu_render('main') }}
                    </div>
                </div>
            </div>
            <div id="main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
